<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/styleheader.css'>
  </head>
  <body>
    <!-- start header -->
      <%- include('partials/header'); %> 
    <!-- end header -->
    <h1>Actores</h1>
    <ul>
      <% actors.forEach(actors => { %>
        <li> <a href="/actors/detail/<%=actors.id%>" class= "ali">
          <%= actors.first_name %> <%= actors.last_name %> 
        </a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>