<!DOCTYPE html>
<html>
  <head>
    <title>Actores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/styleheader.css'>
  </head>
  <body>
    <!-- start header -->
      <%- include('partials/header'); %> 
    <!-- end header -->
    <main class="contenido">
      <h1>Actores</h1>
      <!-- start search -->
        <%- include('partials/search'); %> 
      <!-- end search -->
      <section class="flex-container">
        <% actors.forEach(actors => { %>
          <article class="grid-waper">
            <img src="<%= actors.img %>" onerror="if (this.src != '  actorUndefine.jpg') this.src = '/images/actorUndefine.jpg';"  class="img" alt="image">
            <a href="/actors/detail/<%=actors.id%>" class= "title">
              <%= actors.first_name %>
              <%= actors.last_name %> 
            </a>
          </article>
        <% }) %>
      </section>
    </main>
  </body>
</html>