<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href='/stylesheets/styleheader.css'>
</head>
<body>
  <!-- start header -->
    <%- include('partials/header'); %> 
  <!-- end header -->
  <main class="contenido">
    <h1><%= oneGenre.name %></h1>
    <!-- start search -->
      <%- include('partials/search'); %> 
    <!-- end search -->
      <section class="flex-container">
        <% oneGenre.Movies.forEach(movie => { %>
          <article class="grid-waper">
            <img src="<%= oneGenre.img %>" onerror="if (this.src != 'undefine.jpg') this.src = '/images/default.jpg';"  class="img" alt="image">
            <a href="/movies/detail/<%=movie.id%>" class= "title"> <p> <%= movie.title %> </p>              
            </a>
          </article>
        <% }); %>
      </section>
  
</body>
</html>l