<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/styleheader.css'>
  </head>
  <body>
    <!-- start header -->
      <%- include('partials/header'); %> 
    <!-- end header -->
    <section class="contenido">
      <h1><%= title %></h1>
      <!-- start header -->
        <%- include('partials/search'); %> 
      <!-- end header -->
      <p>Welcome to <%= title %></p>
      <section class="grid-container">
        <a href="movies">
          <article class="grid-waper">
            Peliculas
          </article>
        </a>
        <a href="actors">
          <article class="grid-waper">
            Actores
          </article>
        </a>
        <a href="genres">
          <article class="grid-waper">
            Generos
          </article>
        </a>
      </section>
    </section>
    </body>
</html>
