<!DOCTYPE html>
<html>
<head>
  <title>Detalle del producto <%= oneMovie.releseId  %> </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href='/stylesheets/styleheader.css'>
</head>
<body>
  <!--start header -->
    <%- include('partials/header'); %> 
  <!-- end header -->
  <main class="contenido">
    <h1><%= oneMovie.title %></h1>
    <!-- start header -->
      <%- include('partials/search'); %> 
    <!-- end header -->
    <section class="detail-container">
      <article class="image-wraper">
        <img src="<%= oneMovie.img %>" onerror="if (this.src != 'undefine.jpg') this.src = '/images/undefine.jpg';"  class="img " alt="image">
      </article>
      <article  class= "detail-wraper">
        <h4>Fecha de lanzamiento: </h4>
        <p><%= oneMovie.release_date %></p>     
        <h4>Rating: </h4>
        <p><%= oneMovie.rating %></p>
        <h4>Premios: </h4>
        <p><%= oneMovie.awards %></p>
        <h4>Duracion: </h4>
        <p><%= oneMovie.length %></p>
        <h4>Genero: </h4>
        <% if (oneMovie.genre_id != null) { %> 
          <a href="/genres/detail/<%=oneMovie.Genre.id%>">
            <p><%= oneMovie.Genre.name %> </p>
          </a>
        <% }else{ %>  
        <% } %>
        <h4>Actores: </h4>
        <% oneMovie.actores.forEach(actor => { %>
          <a href="/actors/detail/<%=actor.id%>">
          <p> <%= actor.first_name %> <%= actor.last_name %></p>  </a>            
        <% }); %>     
          <section class="options">
            <form action="/movies/delete/<%= oneMovie.id %>?_method=DELETE" method="POST">
              <button class="btn">BORRAR</button>
            </form>
              <a href=/movies/edit/<%=oneMovie.id%>>
                <button class="btn">MODIFICAR</button>
              </a>
          </section>
      </article>
    </section>
  </main>
</body>
</html>